/*
1. posicionamiento
2. modelo de caja (boxmodule)
3.Tipografia
4. Visuales
5. otros


*/

:root{
    --white: #fff;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;


}

html{
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;;
}

.header__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-width: 320px;
    height: 329px;
    background: rgb(8,8,110);
    background: linear-gradient(180deg, rgba(8,8,110,1) 26%, rgba(0,212,255,1) 100%);
    border-radius: 0 0 15px 15px;
}

.header__container .header__container--greeting{
    margin-top: 15px;
    font-size: 1.4rem;
    font-weight: normal;
    line-height: 1.8rem;
    color: var(--white);
   
}

.header__container img{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 109px;
    height: 116px;

}

.header__container .header__container--name{
    font-size: 1.6rem;
    font-weight: bold;
    line-height: 1.8rem;
    color: var(--white);

}

.header__container .header__container--profession{
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 1.8rem;
    color: var(--white);
}

.header__about__action__button--action{
    margin-top: 50px;
    width: 150px;
    height: 40px;
    font-size: 1.4rem;
    background-color: transparent;
    border: 2px solid var(--white);
    padding: 10px;
    border-radius: 50px;
    color: var(--white);
}